app-post-preview {
    display: block;
    margin: 20px auto;
    max-width: 950px;
}

#show-more {
    display: block;
    margin: 20px auto;
    max-width: 950px;
    text-align: right;

    span{
      cursor: pointer;
      font-family: Roboto,"Helvetica Neue",sans-serif;
      font-size: 22px;
      font-weight: 700;
      color: rgba(0,0,0,.54);
    }
}
:host{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
